<div class="row section topspace">
    <div class="col-md-12">
        <p class="lead text-center text-muted">
            TXN2 is a collection of opensource applications, each aimed at achieving a small goal, centered on collecting, moving, buffering, queueing, processing or presenting data. TXN2 applications are meant to work together or on their own to solve common and recurring requirements for many web and IOT projects.
        </p>
        <p class="lead text-center text-muted">
            TXN2 projects leverage the Go programming language for services and utilities, REACT for web UIs, Docker and Kubernetes configurations for encapsulation and deployment.
        </p>
        <p class="lead text-center text-muted">
            Email human@txn2.com if you are interested in contributing or becoming a member.
        </p>
    </div>
</div> <!-- / section -->
